<% include ./partials/header.ejs %>
  
</html>
<div class="jumbotron">
    <div id="inventory-header">
      <h1 class="display-4">Inventory</h1>
      <div id="same-line">
        <p class="lead">All current cars are listed here. Feel free to refine your search below.</p>
        <!--Will need to be hidden if not logged in-->
        <% if (currentUser) { %>
          <a class="btn btn-primary" href="/cars/new" role="button">Add new Car</a>
        <% } %>
      </div>
      <hr id="boldHR" class="my-4">
      <p class="lead">
        <!----><!----><!---->
        <!--Refine search here-->
        <!----><!----><!---->
        <form action="/cars/refined" method="POST">
          <div class="form-group row">
              <div class="form-group col-sm-4">
              <!--Make-->
                <label for="inputMake">Select Make</label>
                  <select name="make" id="inputMake" class="form-control">
                    <option selected value="Any Make">Any Make</option>
                        <% Makes.forEach(function(make) { %>
                          <% if (queryString) { %>
                             <% if (queryString['make'] == make) { %>
                                <option selected id="carMake" value="<%=make%>">
                                  <%= make %>
                                </option>
                              <% }  else if (queryString == {}) { %>
                                    <option selected value="Any Make">Any Make</option>
                              <% } else { %>
                                <option id="carMake" value="<%= make %>">
                                  <%= make %>
                                </option>
                              <% } %>
                          <% } else { %>
                            <option id="carMake" value="<%=make%>">
                              <%= make %>
                            </option>
                          <% } %>
                        <% }); %>
                  </select>
                </div>
                <!--Model-->
                <div class="form-group col-sm-4">
                  <label for="inputModel">Select Model</label>
                    <select name="model" id="inputModel" class="form-control">
                      <option selected value="Any Model">Any Model</option>
                      <% Models.forEach(function(model) { %>
                          <% if (queryString) { %>
                             <% if (queryString['model'] == model) { %>
                                <option selected id="carModel" value="<%=model%>">
                                  <%= model %>
                                </option>
                              <% }  else if (queryString == {}) { %>
                                    <option selected value="Any Model">Any Model</option>
                              <% } else { %>
                                <option id="carModel" value="<%= model %>">
                                  <%= model %>
                                </option>
                              <% } %>
                          <% } else { %>
                            <option id="carModel" value="<%=model%>">
                              <%= model %>
                            </option>
                          <% } %>
                        <% }); %>
                  </select>
                </div>
                <!--Year-->
                 <div class="form-group col-sm-4">
                  <label for="inputYear">Select Year</label>
                    <select name="year" id="inputYear" class="form-control">
                      <option selected value="Any Year">Any Year</option>
                      <% Years.forEach(function(year) { %>
                          <% if (queryString) { %>
                             <% if (queryString['year'] == year) { %>
                                <option selected id="carYear" value="<%=year%>">
                                  <%= year %>
                                </option>
                              <% }  else if (queryString == {}) { %>
                                    <option selected value="Any Year">Any Year</option>
                              <% } else { %>
                                <option id="carYear" value="<%= year %>">
                                  <%= year %>
                                </option>
                              <% } %>
                          <% } else { %>
                            <option id="carYear" value="<%=year%>">
                              <%= year %>
                            </option>
                          <% } %>
                        <% }); %>
                  </select>
                </div>
                </div>
                <!--Price-->
                <div class="row">
                  <div class="form-group col-md-4">
                    <label for="inputYear">Select Price Range</label>
                      <select name="price" id="inputPrice" class="form-control">
                         <% if (!price) { %>
                          <option selected value="Any Price">Any Price</option>
                        <% } %>
                        <% if (price) { %>
                          <% if (price == "Any Price") { %>
                            <option selected value="Any Price">Any Price</option>
                          <% } else { %>
                            <option value="Any Price">Any Price</option>
                          <% } %>
                          <% if (price == 5000) { %>
                            <option selected value="5000">$5,000 and Below</option>
                          <% } else { %>
                              <option value="5000">$5,000 and Below</option>
                            <% } %>
                        <% } else { %>
                          <option value="5000">$5,000 and Below</option>
                        <% } %>
                        <% if (price) { %>
                          <% if (price == 10000) { %>
                            <option selected value="10000">$10,000 and Below</option>
                          <% } else { %>
                                <option value="10000">$10,000 and Below</option>
                              <% } %>
                        <% } else { %>
                          <option value="10000">$10,000 and Below</option>
                        <% } %>
                      <% if (price) { %>
                          <% if (price == 20000) { %>
                            <option selected value="20000">$20,000 and Below</option>
                          <% } else { %>
                              <option value="20000">$20,000 and Below</option>
                            <% } %>
                        <% } else { %>
                          <option value="20000">$20,000 and Below</option>
                        <% } %>
                    </select>
                </div>
                  <div class="form-group col-md-4">
                  <label for="inputDrive">Select Drive Type</label>
                    <select name="drive_type" id="inputDrive" class="form-control">
                       <% if (!Drive) { %>
                          <option selected value="Any Type">Any DriveType</option>
                        <% } %>
                        <% if (Drive) { %>
                          <% if (Drive == "Any Type") { %>
                            <option selected value="Any Type">Any DriveType</option>
                          <% } else { %>
                            <option value="Any Drive">Any DriveType</option>
                          <% } %>
                          <% if (Drive == "4WD") { %>
                            <option selected value="4WD">4WD</option>
                          <% } else { %>
                              <option value="4WD">4WD</option>
                            <% } %>
                        <% } else { %>
                          <option value="4WD">4WD</option>
                        <% } %>
                        <% if (Drive) { %>
                          <% if (Drive == "2WD") { %>
                            <option selected value="2WD">2WD</option>
                          <% } else { %>
                                <option value="2WD">2WD</option>
                              <% } %>
                        <% } else { %>
                          <option value="2WD">2WD</option>
                        <% } %>
                      <% if (Drive) { %>
                          <% if (Drive == "AWD") { %>
                            <option selected value="AWD">AWD</option>
                          <% } else { %>
                              <option value="AWD">AWD</option>
                            <% } %>
                        <% } else { %>
                          <option value="AWD">AWD</option>
                        <% } %>
                    </select>
                 </div>
               </div>
               
              <div class="form-group row">
                <div class="form-group col-md-6">
                    <button id="submitButton" type="submit" class="btn btn-primary">Search</button>
                </div>
              </div>
           </form>
            <!--<div class="form-group row">-->
            <!--  <% if (queryString) { %>-->
            <!--    <button type="button" class="btn btn-danger">-->
            <!--      <i class="fa fa-fw fa-bicycle" aria-hidden="true"></i>-->
            <!--      Button-->
            <!--    </button>-->
            <!--  <% } %>-->
            <!--</div>-->
      </p>
    </div>
</div>

<!--Each Car listing-->
  <div class="row">
    <% cars.forEach(function(car) { %>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-img-top img-thumbnail img-fluid" style="max-width: 100%; height: auto;" src="<%= car.image[0] %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="display: inline"><%= car.make %> <%= car.model %></h5>
          <% if (currentUser) { %>
          <form style="display: inline" action="/cars/<%= car._id %>?_method=DELETE" method="POST">
            <button style="float: right">
              <icon class="fas fa-trash-alt"></icon>
            </button>
          </form>
          <% } %>
          <div class="row" style="padding-bottom: 10px">
            <div class="col-md-6">
              <p class="card-text">$<%= car.price %>.00</p>
            </div>
            <div class="col-md-6">
              <p style="float: right" class="card-text"><%= car.mileage %></p>
            </div>
          </div>
          <a href="/cars/<%= car._id %>" class="btn btn-primary btn-block">More Info</a>
        </div>
      </div>
    </div>
      <% }); %>
  </div>
</div>


<% include ./partials/footer.ejs %>
